<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class = 'title'>
        <h1>Sheet Music Generator</h1>
    </div>
    <div class="embed-container">
        <iframe src="https://flat.io/embed/618d737faa9c2f0012b81628?appId=61842bd2fa5c8d0012d684f0&sharingKey=40da7c40baa6f0f5545f1dab09c00f193f0825bc5bbe9b5eb5d78a11f568b3b49fedbf85093fd5a74cbee6dbd2c0e156cff504c147998a71e666bfb598558ed8" height="450" width="100%" frameBorder="0" allowfullscreen allow="midi"></iframe>
    </div> 
    <div>
        <button style='margin-top:40px;width:50%;margin-left:25%;'type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
    </div>
</body>
</html>