body {
    font-family: "Monaco", monospace;
    background-color: #E8DADA
}

.square {
    height: 40%;
    width: 30%;
    margin-left: 35%;
    margin-top: 120px;
    margin-bottom: 100px;
    border-radius: 5%;
    background-color: #748F97;
}

.title {
    text-align: center;
    padding-top: 30px;
    color: #EEEEEE;
    font-size: 3rem;
}

.sub-title {
    text-align: center;
    color: #EEEEEE;
}

.instructions {
    text-align: center;
    padding-top: 50px;
    color: #EEEEEE;
    font-size: 2rem;
}

/* Do some on hover styling */
.record-btn {
    text-align: center;
    padding-top: 2px;
    margin-top: 20px;
    margin-left: 35%;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 1.8rem;
    color: #748F97;
    background-color: #E8DADA;
}

a:hover {
    color: #EEEEEE;
    text-decoration: none;
}